body {
  background-color: black;
  color: white;
  margin: 0;
}

container {
}

h1 {
  margin: 0;
}

header {
  text-align: center;
  align-content: center;
  background-color: lightslategray;
  height: 200px;
}

nav {
  width: 40%;
  height: 600px;
  background-color: white;
  text-align: center;
  align-content: center;
  float: left;
}

a {
  color: white;
  text-decoration: none;
  background-color: lightslategray;
  text-transform: uppercase;
  padding: 30px;
}

a:hover {
  background-color: black;
  color: white;
}

article {
  width: 60%;
  height: 600px;
  background-color: lightsteelblue;
  color: black;
  text-align: center;
  align-content: center;
  font-size: 25px;
}

footer {
  background-color: lightslategray;
  text-align: center;
  align-content: center;
  height: 200px;
}
